a#city-paris,
a#city-london,
a#city-berlin,
a#city-toronto,
a#city-kyiv,
a#celsius-degrees,
a#fahrenheit-degrees {
  color: black;
  text-decoration: none;
  cursor: default;
}
body {
  font-family: "Quicksand", sans-serif;
  max-width: 700px;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 15px;
  padding-bottom: 10px;
}
header {
  padding-top: 25px;
  padding-bottom: 10px;
  width: 100%;
  font-family: "Quicksand", sans-serif;
}
h1,
h2,
h3 {
  margin: 0;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 15px;
}
h3 {
  font-size: 11px;
}
ul {
  list-style: none;
  padding-left: 0;
}

label {
  font-size: 25px;
}
li:first-letter {
  text-transform: capitalize;
}
footer {
  margin-top: 30px;
  font-size: 14px;
}
.city-row {
  font-size: 13px;
}
.current-row {
  margin-top: 30px;
}
.ul-current-row {
  padding-bottom: 5px;
}
.ul-weather-parametr {
  margin-top: 35px;
}
.li-weather-parametr {
  font-size: 11px;
  margin-left: 25px;
}
.current-emoji {
  font-size: 80px;
  margin-top: -20px;
  text-align: center;
}
.weather-degree {
  font-size: 70px;
  margin-top: -15px;
}
.degree-c {
  font-size: 25px;
}
.forecast-date {
  font-size: 11px;
  text-align: center;
}
.forecast-day {
  text-align: center;
}
.forecast-emoji {
  font-size: 35px;
  text-align: center;
}
.forecast-temperature-max,
.forecast-temperature-min {
  font-size: 14px;
  text-align: center;
}
.forecast-temperature-min {
  opacity: 0.7;
}
.ul-cities {
  display: inline-flex;
  font-size: 14px;
}
.li-cities {
  padding: 7px;
}
